pipeline/setVariable_systemvar.json
{
	"name": "setVariable_systemvar",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "adfname",
					"value": {
						"value": "@pipeline().DataFactory",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinename",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_storemetadata]",
					"storedProcedureParameters": {
						"exist": {
							"value": null,
							"type": "String"
						},
						"name": {
							"value": {
								"value": "@variables('adfname')",
								"type": "Expression"
							},
							"type": "String"
						},
						"type": {
							"value": {
								"value": "@variables('pipelinename')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"adfname": {
				"type": "String"
			},
			"pipelinename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-11T03:32:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}